
	                        <wicket:panel>
		
			               <form class="navbar-form pull-left" wicket:id="professorForm">
									<div class="btn-group">

										<div class="form-group">
											<input type="text" class="form-control" placeholder="Nombre"
												required="required" wicket:id="nombreProf">
										</div>


										<div class="form-group">
											<input type="text" class="form-control"
												placeholder="Apellido" required="required"
												wicket:id="apellidoProf">
										</div>


										<div class="form-group">
											<input type="text" pattern=".{5,9}" title="Entre 5 y 9 digitos" class="form-control"
												placeholder="Usuario" required="required"
												wicket:id="usernameProf">
										</div>

										<div class="form-group">
											<input type="password" pattern=".{5,9}" title="Entre 5 y 9 digitos" class="form-control"
												placeholder="Password" required="required"
												wicket:id="passwordProf">
										</div>


                                   

								    <div class="btn-group">
                                       <br /> 
                                       
                                       
                                      <div>
                                       <font color="red"><label wicket:id="message" > </label></font>
                                      </div> 
                                       

									<p>
			                         <label>Elija uno o varios cursos con "Control + Click" </label> 
			                           <br /> 
			                          <select required multiple="multiple" wicket:id="selectCurso"></select>
		                            </p>
									
									<br />
			                           <div>
										<button type="submit" class="btn btn-primary">Aceptar</button>
										</div>
										
									</div>
										
										
									</div>

								</form>
			
	                       </wicket:panel>