

	
	                        <wicket:panel>
		
			                    <div>
								 <form class="navbar-form pull-left" wicket:id="subjectForm">
									
									<div class="btn-group">

									<p>
			                         <label>Elija una o varias materias con "Control + Click" </label> 
			                           <br /> 
			                          <select required multiple="multiple" wicket:id="listOfSubjectsId"></select>
		                            </p>
									
									<br />
			                           <div>
										<button type="submit" class="btn btn-primary">Aceptar</button>
										</div>
										
									</div>
								</form>
							</div>
			
			
	                       </wicket:panel>
