                            <wicket:panel>
			                <div>
								 <form wicket:id="successForm">
									
                                      <div>
                                       <center><h3> <font color="blue"><label >Docente agregado exitosamente! </label></font></h3></center>
                                      </div> 
									
									<div class="btn-group">
									   <br />
			                           <div>
										 <button type="submit" class="btn btn-primary">Login</button>
									   </div>
										
									</div>
								</form>
							</div>
	                       </wicket:panel>

	                       
	                       
	                       
	                       